{% extends 'base.html' %}

{% block middle %}
	<h2>[{{ course.code }}] {{ course.name }} </h2>
	<br>
	{% if user_enrolled %}
		<span>Είστε εγγεγραμένος στο μάθημα</span>
		<form method="POST">
			{% csrf_token %}
			<input type="hidden" name="course-action" value="disenroll">
			<input type="submit" class="btn btn-danger" value="Απεγγραφή από το μάθημα">
		</form>
	{% else %}
		<form method="POST">
			{% csrf_token %}
			<input type="hidden" name="course-action" value="enroll">
			<input type="submit" class="btn btn-success" value="Εγγραφή στο μάθημα">
		</form>
	{% endif %}
	<br>
	{% if user_enrolled %}
		<h3>Πρόσφατα γεγονότα μαθήματος</h3>
		<!--- <ul class="list-group"> --->
		<ul class="">
			{% for course_event_data in course_events_data %}
				<li class="list-group-item container my-2">
					<div class="row justify-content-between align-items-center mx-1">
						<h5>{{ course_event_data.name }}</h5>
						{% if course_event_data.is_open and not course_event_data.attended %}
							<form method="POST" >
								{% csrf_token %}
								<input type="hidden" name="course_event" value="{{ course_event_data.id }}">
								<input type="submit" class="btn btn-primary" value="Δήλωσε παρών">
							</form>
						{% elif course_event_data.attended %}
							<button type="button" class="btn btn-success" disabled>Η παρουσία καταχωρήθηκε</button>
						{% else %}
							<button type="button" class="btn btn-danger" disabled>Δεν έχεις παρουσία</button>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
